body {
    background-color: #00f5d4;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.time {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: #0000001a 0px 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    margin: 20px;

}

.stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #000000;

}
.hour {
    color: #000000;
    font-size: 3em;
    font-weight: bold;
    margin-right: 10px;
}

.minute {
    color: #000000;
    font-size: 3em;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.second {
    color: #000000;
    font-size: 3em;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.millisecond {
    color: #000000;
    font-size: 3em;
    font-weight: bold;
}

.colon {
    color: #023e8a;
    font-size: 2em;
    font-weight: bold;
    font-family: auto;
}

.start {
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 10px 10px 20px;
    padding: 6px 16px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px 5px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}


.stop {
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 10px 10px 20px;
    padding: 6px 16px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px 5px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.reset {
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 10px 10px 20px;
    padding: 6px 16px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px 5px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}